.region-header {
    #block-cerian-site-branding img {
        width: 500px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .navbar-nav {
        .nav-item {
            width: min-content;
        }
    }
}
